---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Blog">
  <p>Technical writing on systems programming, visualization, and software tools.</p>

  <h2>Topics</h2>
  <ul>
    <li><a href="/blog/xv6/">xv6</a></li>
    <li><a href="/blog/win32/">Win32</a></li>
    <li><a href="/blog/audio-dsp/">Audio DSP</a></li>
  </ul>
</Layout>
