---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Blog">
  <p>Technical writing on systems programming, visualization, and software tools.</p>

  <ul>
    <li>Coming soon</li>
  </ul>
</Layout>
