---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <p>
    I'm a software developer interested in systems programming, custom UI,
    visualization tools, audio/DSP, and low-level software.
  </p>

  <p>
    This site is where I collect projects, tools, and technical writing.
  </p>
</Layout>
