---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav class="container">
      <ul>
        <li><strong>Anthony Caruso</strong></li>
      </ul>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    </nav>
    <main class="container">
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  pre {
    background: #1b2b34;
    border-radius: 6px;
  }
  pre > code {
    background: transparent;
    color: #cdd3de;
    border-radius: 0;
  }
</style>
